@model IEnumerable<CMS.Data.Core.Teacher>

@{
    ViewData["Title"] = "GetAllTreachers";
}

<h1>All Treachers</h1>
<p>
    <a asp-action="AddTeacher" class="glyphicon glyphicon-plus">Add Teacher</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateTeacher", new { id = item.ID }) |
                @Html.ActionLink("Details", "GetTreacher", new { id = item.ID }) |
                @Html.ActionLink("Delete", "DeleteTeacher", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
