@model IEnumerable<CMS.Data.Core.Student>

@{
    ViewData["Title"] = "GetAllStudents";
}

<h1>All Students</h1>

<p>
    <a asp-action="AddStudent">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthdayDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthdayDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateStudent", new { id = item.ID }) |
                @Html.ActionLink("Details", "GetStudent", new { id = item.ID }) |
                @Html.ActionLink("Delete", "DeleteStudent", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
