@model IEnumerable<CMS.Data.Core.Subject>

@{
    ViewData["Title"] = "GetAllSubjects";
}

<h1>All Subjects</h1>
<p>
    <a asp-action="AddSubject">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateSubject", new { id=item.Id }) |
                @Html.ActionLink("Details", "GetSubject", new { id=item.Id }) |
                @Html.ActionLink("Delete", "DeleteSubject", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
